[submodule ".registry"]
	path = .registry
	url = https://github.com/sebollin/sebollin.r-universe.dev
	branch = HEAD
[submodule "bigbang"]
	path = bigbang
	url = https://github.com/sebollin/bigbang
[submodule "lupa"]
	path = lupa
	url = https://github.com/sebollin/lupa
